@import 'partials/base';

body {
  background: $white;
  color: $black;
  font-family: $open-sans;
  font-size: 16px;

  h1 {
    margin: 0 auto;
    width: 80%;
  }
}

#content {
  margin: 0 auto;
  width: 80%;
}
